@media (max-width :480px) {
    .home .content .info img {
        width: 100%;
        margin-top: -60px;
        margin-bottom: 60px;
    }
    .home .content .info h5 {
        font-size: 16px;
    }
    .about-me img {
        margin-top: 0px !important;
    }
    .testimonials .photo-pic img {
        width: 100%;
        height: auto;
    }
    .portfolio .video-pic img {
        width: 100%;
        height: auto;
    }
    .home {
        background-position: -227px 0px !important;
    }
}